[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "py7zr>=1.0.0",
    "rarfile>=4.2",
    "streamlit>=1.48.1",
]
